main
{
	text-align: center;
	max-width: 1200px;
	margin: auto;
	font-size: 2em;
	padding: 10px;
	background-color: #fdfdfd;
}

body
{
	padding: 10px;
	font-family: "Nunito Sans";
	background-image: url("/img/background.png");
}

main h1
{
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}


header
{
	text-align: center;
	background-color: #7413dc;
	overflow: hidden;
}

header a
{
	float: left;
	font-size: 1em;
	color: white;
	text-align: center;
	padding: 1em 1em;
	text-decoration: none;
}

.Dropdown
{
  float: left;
  overflow: hidden;
}

.Dropdown .DropdownButton
{
	border: none;
	font-size: 1em;  
	border: none;
	outline: none;
	color: white;
	padding: 1em 1em;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

header a:hover, .Dropdown:hover .DropdownButton
{
  background-color: #00a794;
}

.DropdownContent
{
  display: none;
  position: absolute;
  background-color: #fdfdfd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Dropdown:hover .DropdownContent
{
  display: block;
}

.DropdownContent a
{
  float: none;
  color: black;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  text-align: left;
}

a
{
	color: black;
}

.Message
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #ed3f23;
	padding: 0.5em;
	color: white;
	font-size: 18px;
}

.Message h1
{
	font-size: 34px;
}

.LogoImage
{
	width: 250px;
	height: 100px;
	float: left;
	padding: 0.5em;
	padding-right: 4em;
}

footer
{
	text-align: center;
	max-width: 1200px;
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.5em;
	background-color: #7413dc;
	color: white;
}

footer a
{
	color: white;
}

.TextPage
{
	font-size: 0.8em;
	text-align: left;
}

.Carousel
{
	width: 100%;
}

.SectionButton
{
	border: none;
	width: 40%;
	height: 5em;
	color: white;
	font-size: 0.8em;
	margin: 1em;
	font-weight: bold;
}

.SectionButton:hover
{
	transform: scale(1.1); 
}

.JoinTheAdventureButton
{
	border: none;
	width: 90%;
	height: 5em;
	background-color: #7413dc;
	color: white;
	font-size: 1em;
	margin: 1em;
	font-weight: bold;
}

.JoinTheAdventureButton:hover
{
	transform: scale(1.1); 
}

.TeamTable
{
	margin-left: auto;
	margin-right: auto;
}

.Mugshot
{
	width: 8em;
}

td
{
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 1.5em;
	padding-right: 1.5em;;
}
