.Logo
{
	grid-area: logo;	
}

.Header
{
	text-align: center;
	grid-area: header;
	font-size: 32px;
}

.Menu
{
	grid-area: menu;
	background-color: #7413dc;
	color: white;
	padding: 1em;
	font-size: 18px;
	width: 250px;
}

.Main
{
	grid-area: main;
	font-size: 24px;
}

.Right
{
	grid-area: right;
}
	
.Footer
{
	grid-area: footer;
	text-align: center;
	font-size: 18px;
}

.BeaverButtonContainer
{
	grid-area: beaverbutton;
	padding: 1em;
}

.CubButtonContainer
{
	grid-area: cubbutton;
	padding: 1em;
}

.ScoutButtonContainer
{
	grid-area: scoutbutton;
	padding: 1em;
}

.ExplorerButtonContainer
{
	grid-area: explorerbutton;
	padding: 1em;
}

.SquirrelButtonContainer
{
	grid-area: squirrelbutton;
	padding: 1em;
}

.AdultButtonContainer
{
	grid-area: adultbutton;
	padding: 1em;
}

.JoinTheAdventureButtonContainer
{
	grid-area: jointheadventure;
	padding: 1em;
}

.Index
{
	display: grid;
	grid-template-areas:
		"logo header header header header header"
		"menu main main right right right"
		"menu beaverbutton cubbutton right right right"
		"menu scoutbutton explorerbutton right right right"
		"menu squirrelbutton adultbutton right right right"
		"menu jointheadventure jointheadventure right right right"
		"footer footer footer footer footer footer";
	grid-gap: 10px;
}

.JoinTheAdventure
{
	display: grid;
	grid-template-areas:
		"logo header header header header header"
		"menu main main right right right"
		"footer footer footer footer footer footer";
	grid-gap: 10px;
}

.Section
{
	display: grid;
	grid-template-areas:
		"logo header header"
		"menu main main"
		"menu right right"
		"menu jointheadventure jointheadventure"
		"footer footer footer";
	grid-gap: 10px;
}

.FAQ
{
	display: grid;
	grid-template-areas:
		"logo header header"
		"menu main main"
		"footer footer footer";
	grid-gap: 10px;
}

.MeetTheTeam
{
	display: grid;
	grid-template-areas:
		"logo header header"
		"menu main main"
		"footer footer footer";
	grid-gap: 10px;
}

.News
{
	display: grid;
	grid-template-areas:
		"logo header header"
		"menu main right"
		"footer footer footer";
	grid-gap: 10px;
}

.KitRental
{
	display: grid;
	grid-template-areas:
		"logo header header"
		"menu main right"
		"footer footer footer";
	grid-gap: 10px;
}

.TopAwards
{
	display: grid;
	grid-template-areas:
		"logo header header header"
		"menu main main main"
		"menu main main main"
		"footer footer footer footer";
	grid-gap: 10px;
}

body
{
	padding: 10px;
	font-family: "Nunito Sans";
	background-image: url("/img/background.png");
}

a
{
	color: black;
}

.LogoImage
{
	width: 250px;
	height: 100px;
}

.DragonLogoImage
{
	margin-top: 3em;
	width: 285px;
}

.StanhopeLogo
{
	width: 285px;
}

.SectionLogo
{
	width: 300px;
}

.ExplorerLogo
{
	width: 300px;
	margin-top: 1em;
}

.IndexPhoto
{
	width: 100%;
}

.JoinTheAdventurePhoto
{
	width: 60%;
	float: right;
}

.ArchivePhoto
{
	width: 40%;
}

.SectionPhoto
{
	width: 49%;
}

.Mugshot
{
	width: 10em;
}

.BeaverButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #006ddf;
	border: white;
	width: 100%;
	height: 100%;
}

.CubButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #23a950;
	border: white;
	width: 100%;
	height: 100%;
}

.ScoutButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #00a794;
	border: white;
	width: 100%;
	height: 100%;
}

.ExplorerButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #003982;
	border: white;
	width: 100%;
	height: 100%;
}

.SquirrelButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #ed3f23;
	border: white;
	width: 100%;
	height: 100%;
}

.AdultButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 22px;
	color: white;
	background-color: #205b41;
	border: white;
	width: 100%;
	height: 100%;
}

.JoinTheAdventureButton
{
	display: block;
	text-align: center;
	line-height: 6em;
	text-decoration: none;
	font-size: 24px;
	color: white;
	background-color: #7413dc;
	border: white;
	width: 100%;
	height: 100%;
}

.Menu a
{
	color: white;
	text-decoration: none;
}

.MugshotContainer
{
	display: inline-block;
	text-align: center;
	padding: 1em;
}

#AwardFrame
{
	width: 70%;
	height: 75%;
}

.DragonBanner
{
	width: 100%;
}

/* Mobile / Small Screen Mode */

@media (max-width: 1200px)
{
	.Index
	{
		display: grid;
		grid-template-areas:
			"logo header header"
			"menu main main"
			"menu right right"
			"menu beaverbutton cubbutton"
			"menu scoutbutton explorerbutton"
			"menu squirrelbutton adultbutton"
			"menu jointheadventure jointheadventure"
			"footer footer footer";
		grid-gap: 10px;
	}
	
	.JoinTheAdventurePhoto
	{
		display: none;
	}
}