<!--

	****************************
	* _includes/devbanner.html *
	****************************

	Copyright 2024 1st New Longton Scouts.
	All rights reserved.
	Created by Alex Paterson.
	
-->

<b>Found an issue with our new site?</b>
<p>Please report it to Alex at admin@newlongtonscouts.com, including the information on <a href = "/stats.html">this page</a>. Our old site is still available at <a href = "https://old.newlongtonscouts.com">old.newlongtonscouts.com</a> until 01/03/2024.</p>