<!DOCTYPE html>
<html lang = "en-GB">
	<head>
		<title>{{ page.title }}</title>
		<link href = "https://fonts.googleapis.com/css?family=Nunito Sans" rel = "stylesheet">
		<link rel = "stylesheet"  type = "text/css" href = "css/style.css">
		<link rel = "icon" href = "img/icon.png">
		<meta charset = "utf-8">
	</head>
	<body>
		<header>
			<img src = "img/logo.png" alt = "1st New Longton Scouts Logo" class = "LogoImage">
			<br>
			<b><a href = "index.html">Home</a></b>
			<div class = "Dropdown">
				<button class = "DropdownButton"><b>Our Sections</b></button>
				<div class = "DropdownContent">
					<a href = "squirrels.html">Squirrels (4 - 6)</a>
					<a href = "beavers.html">Beavers (6 - 8)</a>
					<a href = "cubs.html">Cubs (8 - 10)</a>
					<a href = "scouts.html">Scouts (10 - 14)</a>
					<a href = "explorers.html">Explorers (14 - 18)</a>
					<a href = "volunteers.html">Adult Volunteers (18+)</a>
				</div>
			</div>
			<a href = "jointheadventure.html"><b>Join the Adventure</b></a>
			<a href = "/dragonquest/dragonquest.html"><b>Dragon Quest</b></a>
			<div class = "Dropdown">
				<button class = "DropdownButton"><b>About Us</b></button>
				<div class = "DropdownContent">
					<a href = "faq.html">FAQ</a>
					<a href = "meettheteam.html">Meet the Team</a>
				</div>
			</div>
		</header>
		<div class = "Message">
			{{ site.posts.first }}
		</div>
		<main>
			<h1>{{ page.heading }}</h1>
			{{ content }}
		</main>
		<footer>
			<p><b><a href = "https://instagram.com"> Follow our adventures on Instagram!</a></b></p>
			<br>
			<p>Copyright <script type = "text/JavaScript" src = "/js/CopyrightDate.js"></script> 1st New Longton Scouts.</p>
			<p>Created by {{ page.authors }}.</p>
		</footer>
	</body>
</html>
